{
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "printWidth": 100,
  "arrowParens": "avoid",
  "vueIndentScriptAndStyle": true,
  "endOfLine": "crlf",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
