.be-dialog-modal {
  background-color: $modal;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2076;
}

.be-dialog {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2077;

  .be-dialog-contanter-head {
    border-radius: 5px;
    border-bottom: none;
    height: 50px;
    color: $defaultText;
    margin: 0 0 10px 0;
    text-align: left;
    font-weight: bold;
    /* cursor: move;*/
    font-size: 18px;
    padding: 15px 20px;
    line-height: 30px;
    box-sizing: border-box;

    .be-dialog-close {
      line-height: 35px;
      color: $defaultText;
      cursor: pointer;
      float: right;
    }

  }

  .be-dialog-container {
    align-self: center;
    min-width: 400px;
    background: $default;
    /*box-shadow: 0 6px 13px rgba(0, 0, 0, 0.16);*/
    border-radius: 5px;
    z-index: 998;

    .be-dialog-title {
      border-radius: 5px;
      background: $default;

      span {
        color: $defaultText;
        font-size: 16px;
        font-family: Microsoft YaHei sans-serif;
      }

      span:nth-child(2) {
        font-size: 20px;
        font-weight: 400;
      }
    }

    .be-dialog-body {
      box-sizing: border-box;
      margin-bottom: 10px;
      padding: 15px 20px;

      .be-dialog-body__inner {
        background: $default;
      }
    }

    .be-dialog-footer {
      height: 40px;
      line-height: 40px;
      padding: 10px 30px;

      .be-dialog-footer-btn {
        width: 80px;
      }
    }

    .be-dialog-footer__center {
      display: flex;
      justify-content: center;
    }

    .be-dialog-footer__right {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.dialog-fade-enter-active {
  -webkit-animation: dialog-fade-in .3s;
  animation: dialog-fade-in .3s
}

.dialog-fade-leave-active {
  -webkit-animation: dialog-fade-out .3s;
  animation: dialog-fade-out .3s
}

@-webkit-keyframes dialog-fade-in {
  0% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    opacity: 0
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@keyframes dialog-fade-in {
  0% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    opacity: 0
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes dialog-fade-out {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
  100% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    opacity: 0
  }
}

@keyframes dialog-fade-out {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
  100% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    opacity: 0
  }
}