@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.be-icon-container {
  display: inline-block;

  .be-icon {
    vertical-align: -0.15em;
    overflow: hidden;
  }

}

.be-icon-spin {
  display: inline-block;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}