
@mixin be-message-icon{
    line-height: 25px;
    margin-right: 10px;
    font-size: 20px;
}
.be-message {
    z-index: 10;
    min-height: 30px;
    .be-message-container {
        min-width: 320px;
        background: $default;
        padding: 12px;
        box-shadow: 0 6px 13px rgba(0, 0, 0, 0.16);
        border-radius: 2px;
        box-sizing: border-box;
        position: absolute;
        z-index: 998;
        .be-message-title {
            width: 100%;
            height: 25px;;
            .be-message-head {
                line-height: 25px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                div:nth-child(1){
                    display: flex;
                    align-items: center;
                    .icon-warning{
                        fill:$warning;
                        @include be-message-icon;
                    }
                    .icon-info{
                        fill:$info;
                        @include be-message-icon;
                    }
                    .icon-success{
                        fill:$success;
                        @include be-message-icon;
                    }
                    .icon-error{
                        fill:$error;
                        @include be-message-icon;
                    }
                    .text-warning{
                        @include be-message-tilte;
                        font-weight: normal;
                        color:$warning;
                    }
                    .text-info{
                        @include be-message-tilte;
                        font-weight: normal;
                        color:$info;
                    }
                    .text-success{
                        @include be-message-tilte;
                        font-weight: normal;
                        color:$success;
                    }
                    .text-error{
                        @include be-message-tilte;
                        font-weight: normal;
                        color:$error;
                    }
                }
                div:nth-child(2){
                    cursor: pointer;
                }
            }

        }
    }

    .be-message-container__topCenter{
        right: 50%;
        transform: translateX(50%);
    }
}
.be-message__topCenter{
    position: fixed;
    right: 50%;
    transform: translateX(50%);
}

.be-message-top{
    transition: top .3s;
}
@keyframes MessageMoveOut {
    0% {
        max-height: 150px;
        padding: 8px;
        opacity: 1;
    }
    100% {
        max-height: 0;
        padding: 0;
        opacity: 0;
    }
}
.be-message-animation-top-center-in{
    -webkit-animation:bounceInTopCenter .3s .2s ease both;
    -moz-animation:bounceInTopCenter .3s .2s ease both;
}