@mixin be-message-icon {
  margin-right: 10px;
  font-size: 20px;
  line-height: 25px;
}

.be-message {
  z-index: 9999;
  @apply max-h-12;

  .be-message-container {
    width: max-content;
    @apply  bg-default p-2.5 rounded shadow absolute box-border;

    .be-message-title {
      height: initial;
      @apply w-full;

      .be-message-head {
        @apply leading-6 flex justify-between items-center;

        div:nth-child(1) {
          @apply flex items-center;

          .icon-warning {
            @apply fill-warning;
            @include be-message-icon;
          }

          .icon-info {
            @apply fill-info;
            @include be-message-icon;
          }

          .icon-success {
            @apply fill-success;
            @include be-message-icon;
          }

          .icon-error {
            @apply fill-error;
            @include be-message-icon;
          }

          .txt-warning {
            @include be-message-title;
            @apply text-warning font-mono mr-2;
          }

          .txt-info {
            @include be-message-title;
            @apply text-info font-mono;
          }

          .txt-success {
            @include be-message-title;
            @apply text-success font-mono;
          }

          .txt-error {
            @include be-message-title;
            @apply text-error font-mono;
          }
        }

        div:nth-child(2) {
          @apply cursor-pointer;
        }
      }

    }
  }

  .be-message-container__topCenter {
    max-width: calc(100vw - 10vw);
    @apply right-1/2;
    transform: translateX(50%);
  }
}

.be-message__topCenter {
  @apply right-1/2 fixed;
  transform: translateX(50%);
}

.be-message-top {
  transition: top .3s;
}

.be-message-animation-top-center-in {
  -webkit-animation: bounce-in-top-center .3s .2s ease both;
  -moz-animation: bounce-in-top-center .3s .2s ease both;
}

.be-message-animation-top-center-out {
  -webkit-animation: out-top-center .3s .2s ease both;
  -moz-animation: out-top-center .3s .2s ease both;
}