
.be-message-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2077;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  .be-message-box-container {
    @apply shadow;
    z-index: 998;
    box-sizing: border-box;
    align-self: center;
    width: 305px;
    min-height: 158px;
    padding: 16px;
    background-color: $default;
    border-radius: 2px;
    transition: opacity .5s;

    .be-message-box-title {
      width: 100%;
      height: 25px;;

      .be-message-box-head {
        display: flex;
        justify-content: space-between;
        line-height: 25px;

        div:nth-child(1) {
          display: flex;
          align-items: center;

          .icon-warning {
            margin-right: 5px;
            font-size: 20px;
            line-height: 25px;
            fill: $warning;
          }

          .icon-info {
            margin-right: 5px;
            font-size: 20px;
            line-height: 25px;
            fill: $info;
          }

          .icon-success {
            margin-right: 5px;
            font-size: 20px;
            line-height: 25px;
            fill: $success;
          }

          .icon-error {
            margin-right: 5px;
            font-size: 20px;
            line-height: 25px;
            fill: $error;
          }

          .text-warning {
            @include be-message-title;
            color: $warning;
          }

          .text-info {
            @include be-message-title;
            color: $info;
          }

          .text-success {
            @include be-message-title;
            color: $success;
          }

          .text-error {
            @include be-message-title;
            color: $error;
          }
        }

        div:nth-child(2) {
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }

    }
  }

  .be-message-box-body {
    min-height: 80px;
  }

  .be-message-box-footer {
    display: flex;
    width: 100%;
    height: 24px;
  }

  .be-message-box-footer__center {
    justify-content: center;
  }

  .be-message-box-footer__right {
    justify-content: flex-end;
  }

}

.be-modal {
  @apply bg-modal;
}