@import 'common';
.be-popover{
  background-color: $default;
  color: $info;
  text-align: center;
  padding: 8px 14px;
  border-radius: 3px;
  font-size: 12px;
  position: fixed;
  word-break: keep-all;
  .be-popover-header{

  }
  .be-popover-footer{

  }
}