
.be-popover {
  @apply shadow;
  position: fixed;
  background-color: $default;
  border-radius: 3px;

  .be-popover-body {
    box-sizing: border-box;
    padding: 8px 14px;
    font-size: 12px;
    color: $info;
    text-align: center;
  }

  .be-popover-arrow,
  .be-popover-arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
  }

  .be-popover-arrow {
    visibility: hidden;
  }

  .be-popover-arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
    box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, .37);
  }

}

.be-popover[data-popper-placement^='top'] {

  .be-popover-arrow {
    bottom: -4px;
  }
}

.be-popover[data-popper-placement^='bottom'] {

  .be-popover-arrow {
    top: -4px;
  }
}

.be-popover[data-popper-placement^='left'] {

  .be-popover-arrow {
    right: -4px;
  }
}

.be-popover[data-popper-placement^='right'] {

  .be-popover-arrow {
    left: -4px;
  }
}

.be-popover.be-input-select-popover {

  .be-popover-body {
    padding: 0;
  }
}