.be-switch {
  @apply rounded-full cursor-pointer relative flex items-center;

  .be-switch-circle {
    @apply bg-default rounded-full shadow flex items-center justify-center;
  }
}

.be-switch__checked {
  @apply bg-primaryh;

  .be-switch-circle {
    left: calc(100% - 2px);
    @apply absolute transform -translate-x-full;
  }
}

.be-switch__unChecked {
  @apply bg-infoh;

  .be-switch-circle {
    @apply ml-px absolute left-px;
  }
}

.be-switch__disabled {
  @apply cursor-not-allowed bg-opacity-50;
}

.be-switch__default {
  @apply h-5 leading-5 w-min;

  .be-switch-circle {
    @apply h-4 w-4;

    .be-switch-circle-icon {

      .be-icon {
        @apply h-3 w-3;
      }
    }
  }

  .be-switch__default_slot_un_checked {
    @apply mr-5 ml-1;
  }

  .be-switch__default_slot_checked {
    @apply ml-5 mr-1;
  }
}

.be-switch__small {
  @apply h-4 leading-4 w-min;

  .be-switch-circle {
    @apply h-3 w-3;

    .be-switch-circle-icon {

      .be-icon {
        @apply h-2 w-2;
      }
    }
  }

  .be-switch__small_slot_un_checked {
    @apply mr-4 ml-1;
  }

  .be-switch__small_slot_checked {
    @apply ml-4 mr-1;
  }
}

.be-switch__large {
  @apply h-6 leading-6 w-min;

  .be-switch-circle {
    @apply h-5 w-5;

    .be-switch-circle-icon {

      .be-icon {
        @apply h-4 w-4;
      }
    }
  }

  .be-switch__large_slot_un_checked {
    @apply mr-6 ml-1;
  }

  .be-switch__large_slot_checked {
    @apply ml-6 mr-1;
  }
}

@keyframes switching {

  0% {
    box-shadow: 0 0 0 2px rgb(24 144 255 / 40%);
  }

  60% {
    box-shadow: 0 0 0 4px rgb(24 144 255 / 20%);
  }

  80% {
    box-shadow: 0 0 0 6px rgb(24 144 255 / 10%);
  }

  100% {
    box-shadow: 0 0 0 8px rgb(24 144 255 / 5%);
  }
}

.be-switching {
  -webkit-animation: switching .3s linear;
  -moz-animation: switching .3s linear;
}