$warning: #F7A31C;
$warningHover: #e89919;
$info: #909399;
$infoHover: #dcdcdc;
$success: #22C416FF;
$successHover: #2aad1f;
$error: #F14E53FF;
$errorHover: #e34a4f;
$primary: #ecf5ff;
$primaryHover: #409eff;
$default: #FFF;
$defaultHover: #ecf5ff;
$whiteText: #FFF;
$defaultText: #606266;
$primaryText: #409eff;
$primaryBorder: #b3d8ff;
$primaryHoverBorder: #ecf5ff;
$warningBorder: #fdf6ec;
$warningHoverBorder: #f5dab1;
$errorBorder: #fef0f0;
$errorHoverBorder: #fbc4c4;
$successBorder: #f0f9eb;
$successHoverBorder: #c2e7b0;
$infoBorder: #d3d4d6;
$infoHoverBorder: #FFF;