
$componentsClass: $name+ '-' + 'container' !global;

@include create-B(container) {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0%;
  flex-basis: auto;
  flex-direction: row;
  min-width: 0;
}

.#{ $componentsClass }#{$element-separator}vertical {
  flex-direction: column;
}
