$componentsClass: $name+ '-' + 'icon' !global;

@keyframes be-animate-icon-spin {
  100% {
    transform: rotate(360deg);
  }
}

@include create-B(icon) {
  display: inline-block;

  .#{ $componentsClass }#{$modifier-separator}container  {
    overflow: hidden;
    vertical-align: 0;
  }
}

.#{ $componentsClass }#{$element-separator}spin {
  display: inline-block;
  -webkit-animation: be-animate-icon-spin 1s infinite linear;
  animation: be-animate-icon-spin 1s infinite linear;
}
