
.be-load-container {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;

  .be-loader {
    position: relative;
    z-index: 9999;

    .circleBox {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 50%;
      margin: auto;

      span {
        width: 6px;
        height: 6px;
        background-color: var(--be-emo-link-color);
        border-radius: 50%;
        -webkit-animation: move 1.04s ease infinite;
      }

      span:nth-of-type(1) {
        position: absolute;
        top: 0;
        left: 0;
      }

      span:nth-of-type(2) {
        position: absolute;
        top: 0;
        right: 0;
      }

      span:nth-of-type(3) {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      span:nth-of-type(4) {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .circleBox:nth-of-type(2) {
      transform: rotate(45deg);
    }

    @keyframes move {
      0% {
        transform: scale(0);
      }

      50% {
        transform: scale(1);
      }

      100% {
        transform: scale(0);
      }
    }

    /* 设置时间差 */

    .circleBox:nth-of-type(1) span:nth-of-type(1) {
      animation-delay: -0.1s;
    }

    .circleBox:nth-of-type(2) span:nth-of-type(4) {
      animation-delay: -0.3s;
    }

    .circleBox:nth-of-type(1) span:nth-of-type(4) {
      animation-delay: -0.5s;
    }

    .circleBox:nth-of-type(2) span:nth-of-type(3) {
      animation-delay: -0.7s;
    }

    .circleBox:nth-of-type(1) span:nth-of-type(3) {
      animation-delay: -0.9s;
    }

    .circleBox:nth-of-type(2) span:nth-of-type(2) {
      animation-delay: -1.1s;
    }

    .circleBox:nth-of-type(1) span:nth-of-type(2) {
      animation-delay: -1.3s;
    }

    .circleBox:nth-of-type(2) span:nth-of-type(1) {
      animation-delay: -1.5s;
    }
  }

  .be-loader__default {
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;

    .circleBox span {
      width: 6px;
      height: 6px;
    }
  }

  .be-loader__small {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;

    .circleBox span {
      width: 4px;
      height: 4px;
    }
  }

  .be-loader__large {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;

    .circleBox span {
      width: 12px;
      height: 12px;
    }
  }

  .be-loader__bg {
    @apply shadow;
    background: #fff;
    border-radius: 10px;
  }

  .be-loader-text {
    z-index: 9999;
    margin-top: 5px;
  }

  .be-loader-text__default {
    font-size: 14px;
  }

  .be-loader-text__small {
    font-size: 12px;
  }

  .be-loader-text__large {
    font-size: 16px;
  }

  .be-loader-blur {
    opacity: 0.3;
  }
}

.be-load-container__fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;

  .be-loader {
    z-index: 9999;
    margin-top: 5px;
  }
}

.be-fade-in-linear-enter,
.be-fade-in-linear-leave,
.be-fade-in-linear-leave-active {
  opacity: 0;
}

.be-fade-in-linear-enter-active,
.be-fade-in-linear-leave-active {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
