
.be-select {
  .be-select-tag {
    padding: 0 7px 3px 0;
  }

  .be-select-input {
    min-width: 1px;
    max-width: 100%;
    overflow: hidden;
    color: $defaultText;
    border: 0;
    outline: 0;
  }

  .be-select-input__mini {
    height: 28px;
    line-height: 28px;
  }

  .be-select-input__medium {
    height: 30px;
    line-height: 30px;
  }

  .be-select-input__large {
    height: 40px;
    line-height: 40px;
  }

  .be-input-select {
    background-color: $default;

    .be-input-select__inner {
      margin: 0;
    }

    ul {
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
    }
  }

  .be-select-body {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 30px 0 8px;
    background-color: $default;
    border: 1px solid $infoBorder;
    border-radius: 3px;
    outline: 0;

    &:hover {
      border-color: $pinkHoverBorder;
    }
  }

  .be-select-body__focus {
    border: 1px solid $pinkHoverBorder;
    outline: 0;
    box-shadow: 0 0 0 2px $pinkHoverBorder-02;
  }

  .be-select-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    fill: $defaultText;
    transform: translateY(-50%);
  }
}

.be-select-option-body {
  box-sizing: border-box;
  padding: 0.5em 0;

  .be-select-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
  }

  .be-select-option-container {
    max-height: 300px;
    overflow-y: auto;

    .be-select-option {
      box-sizing: border-box;
      height: 30px;
      padding: 0 15px;
      line-height: 30px;
      color: $defaultText;
      text-align: left;
      cursor: pointer;

      &:hover {
        background-color: $defaultGray;
      }
    }

    .be-select-option__group {
      box-sizing: border-box;
      height: 30px;
      padding-left: 6px;
      line-height: 30px;
      color: $info;
      text-align: left;
    }

    .be-select-option__choice {
      font-weight: bold;
      color: $pinkHoverBorder;
      background-color: $defaultGray;

      .be-select-hook {
        @apply float-right;

        .be-icon {
          @apply h-8 leading-8 fill-blue;
        }
      }

      &:hover {
        background-color: $defaultGray;
      }
    }

    .be-select-option__line::before {
      position: absolute;
      width: 93%;
      height: 1px;
      content: ' ';
      background-color: $infoHover;
    }

    .be-select-option__disabled {
      color: $infoHover;
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .be-select-option__extend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 5px;

    .be-input {
      flex: 8;
      width: 70%;
    }

    .be-icon--container {
      flex: 2;

      .be-icon {
        margin: 0 auto;
        cursor: pointer;
      }
    }
  }
}

.be-select-popover {
  .be-popover {
    .be-popover--body {
      padding: 0;
    }
  }
}
