
$componentsClass: $name+ '-' + 'tag' !global;
@include create-B(tag) {
  @include set-component-style-var('tag', $--tag);
}
@mixin be-icon-default($color) {
  .be-icon {
    use {
      fill: $color;
    }
  }
}

@mixin be-tag--type($bgColor, $textColor, $hoverColor) {
  color: $textColor;
  background-color: $bgColor;
  border: 0;

  &:hover {
    background-color: $hoverColor;
  }
}

@include create-B(tag) {
  @include flex-center;
  @include be-pointer;
  @include font-mono;
  box-sizing: border-box;
  .#{ $componentsClass }#{$modifier-separator}close {
    @apply mr-1.5;
  }
  .#{ $componentsClass }#{$modifier-separator}container {
    @apply w-4 h-4;
  }
}

.be-tag__disabled {
  @include be-disabled;
}

.#{ $componentsClass }#{$element-separator}mini {
  box-sizing: border-box;
  height: var(--be-tag-h-mini);
  padding: var(--be-tag-px);
  font-size: 0.75rem;
  line-height: var(--be-tag-h-mini);
}

.#{ $componentsClass }#{$element-separator}medium {
  box-sizing: border-box;
  height: var(--be-tag-h-medium);
  padding: var(--be-tag-px);
  line-height: var(--be-tag-h-medium);
}

.#{ $componentsClass }#{$element-separator}large {
  box-sizing: border-box;
  height: var(--be-tag-h-medium);
  padding: var(--be-tag-px);
  line-height: var(--be-tag-h-medium);
}

.#{ $componentsClass }#{$element-separator}error {
  @include be-tag--type(
    var(--be-tag-error-color),
    var(--be-base-color-w),
    var(--be-tag-error-color--hover)
  );
  @include be-icon-default(var(--be-base-color-w));
}

.#{ $componentsClass }#{$element-separator}info {
  @include be-tag--type(
    var(--be-base-color-w),
    var(--be-text-color-primary),
    var(--be-base-color-grays)
  );
  @include be-icon-default(var(--be-text-color-primary));
  border: var(--be-tag-border);
}

.#{ $componentsClass }#{$element-separator}success {
  @include be-tag--type(
    var(--be-tag-success-color),
    var(--be-base-color-w),
    var(--be-tag-success-color--hover)
  );
  @include be-icon-default(var(--be-base-color-w));
}

.#{ $componentsClass }#{$element-separator}warning {
  @include be-tag--type(
    var(--be-tag-warning-color),
    var(--be-base-color-w),
    var(--be-tag-warning-color--hover)
  );
  @include be-icon-default(var(--be-base-color-w));
}

.#{ $componentsClass }#{$element-separator}primary {
  @include be-tag--type(
    var(--be-tag-primary-color),
    var(--be-tag-primary-color--hover),
    var(--be-tag-primary-color--hover)
  );
  @include be-icon-default(var(--be-tag-primary-color--hover));

  &:hover {
    color: var(--be-base-color-w);
    background-color: var(--be-tag-primary-color--hover);
    border-color: var(--be-tag-primary-color--hover);

    .be-icon {
      use {
        fill: var(--be-base-color-w);
      }
    }
  }
}

.#{ $componentsClass }#{$element-separator}default {
  @include be-tag--type(
    var(--be-base-color-w),
    var(--be-text-color-primary),
    var(--be-tag-primary-color)
  );
  @include be-icon-default(var(--be-text-color-primary));
  border: var(--be-tag-border);

  &:hover {
    color: var(--be-tag-primary-color--hover);
    background-color: var(--be-tag-primary-color);

    .be-icon {
      use {
        fill: var(--be-tag-primary-color--hover);
      }
    }
  }
}
