@import 'common/animate';
@import 'common/common';
@import 'common/mixin';
@import 'common/var';
@import 'common/config';
$componentsClass: $name + '-' + 'aside';

@include create-B(aside) {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 18rem;
  overflow: auto;
}
