@import 'common/animate';
@import 'common/common';
@import 'common/mixin';
@import 'common/var';
@import 'common/config';
$componentsClass: $name + '-' + 'input-number' ;
@include create-B(input-number) {
  @include set-component-style-var('input-number', $--input-number);
}

@include create-B(input-number) {
  display: flex;
  border-width: var(--be-input-number-border-w);
  background-color: var(--be-input-number-bg-w);
  width: var(--be-input-number-min-c);

  .#{ $componentsClass }#{$element-separator}inner {
    user-select: none;
    border-width: 0;
  }

  .#{ $componentsClass }#{$element-separator}limit {
    .be-input--body {
      .be-input#{$element-separator}inner {
        color: var(--be-input-number-limit-color);
        @include font-mono;
      }
    }
  }

  .#{ $componentsClass }#{$element-separator}default {
    display: flex;

    .#{ $componentsClass }#{$element-separator}op {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      cursor: pointer;
      border-left-width: var(--be-input-number-border-w);

      .#{ $componentsClass }#{$element-separator}up {
        @include flex-center;
        flex: 1 1 0;
        border-bottom-width: var(--be-input-number-border-w);
        background-color: var(--be-input-number-bg-w);
      }
      .be-icon {
        @include flex-center;
        background-color: var(--be-input-number-bg-w);
        flex: 1 1 0;
        .be-icon--container {
          height: var(--be-input-number-icon-size);
          width: var(--be-input-number-icon-size);
          fill: var(--be-input-number-color-icon);
        }
      }
    }
  }

  .#{ $componentsClass }#{$element-separator}op#{$element-separator}disabled {
    @include be-disabled
  }
}

.#{ $componentsClass }#{$element-separator}disabled {
  @include be-disabled;
  background-color: var(--be-input-number-color-disabled);
}

.#{ $componentsClass }#{$element-separator}mini {
  height: var(--be-input-number-h-small);
  width: var(--be-input-number-w);

  .#{ $componentsClass }#{$element-separator}inner {
    .be-input--body {
      .be-input#{$element-separator}inner {
        height: var(--be-input-number-h-small-in);
        line-height: var(--be-input-number-h-small-in);
      }
    }
  }
}

.#{ $componentsClass }#{$element-separator}medium {
  height: var(--be-input-number-h-medium);
  width: var(--be-input-number-w);
}

.#{ $componentsClass }#{$element-separator}large {
  height: var(--be-input-number-h-large);
  width: var(--be-input-number-w);
}
