@import 'common/animate';
@import 'common/common';
@import 'common/mixin';
@import 'common/var';
@import 'common/config';
$componentsClass: $name + '-' + 'select' ;
@include create-B(select) {
  @include set-component-style-var('select', $--select);
}
@include create-B(select) {
  .#{$componentsClass}#{$modifier-separator}tag {
    padding: 0 8px 3px 0;
  }

  .#{$componentsClass}#{$modifier-separator}input {
    min-width: 1px;
    @include w-max(100%);
    overflow: hidden;
    color: var(--be-select-color-text);
    border: 0;
    outline: 0;
  }

  .#{$componentsClass}#{$modifier-separator}input__small {
    height:  var(--be-select-h-small);
    line-height:  var(--be-select-h-small);
  }

  .#{$componentsClass}#{$modifier-separator}input__medium {
    height:  var(--be-select-h-medium);
    line-height:  var(--be-select-h-medium);
  }

  .#{$componentsClass}#{$modifier-separator}input__large {
    height:  var(--be-select-h-large);
    line-height:  var(--be-select-h-large);
  }

  .be-input#{$modifier-separator}select {
    background-color: var(--be-select-bg-w);

    .be-input#{$modifier-separator}select__inner {
      margin: 0;
    }

    ul {
      margin-block-start: 0.5rem;
      margin-block-end: 0.5rem;
    }
  }



  .#{$componentsClass}#{$modifier-separator}body {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: var(--be-select-w-full);
    padding: 0 30px 0 8px;
    background-color: var(--be-select-bg-w);
    border: 1px solid var(--be-select-border-color);
    border-radius: var(--be-select-rounded-base);
    outline: 0;

    &:hover {
      border-color: var(--be-select-border-color-f);
    }
  }
  .#{$componentsClass}#{$modifier-separator}input__disabled {
    background-color: var(--be-select-color-disabled);
  }
  .#{$componentsClass}#{$modifier-separator}body__focus {
    border: 1px solid var(--be-select-border-color-f);
    outline: 0;
    box-shadow: 0 0 0 2px var(--be-select-border-shadow)
  }

  .#{$componentsClass}--icon {
    position: absolute;
    top: 50%;
    right: 10px;
    @include be-pointer;
    fill: var(--be-select-color-text);
    transform: translateY(-50%);
  }
}

@include create-B(select--option--body) {
  @include set-component-style-var('select', $--select);
}

.#{$componentsClass}--option--body {
  box-sizing: border-box;
  padding: 0.5rem 0;

  .#{$componentsClass}--loading {
    @include flex-center;
    @include h-min(50px)
  }

  .#{$componentsClass}--option--container {
    @include h-max(300px);
    overflow-y: auto;

    .#{$componentsClass}--option {
      box-sizing: border-box;
      height: var(--be-select-h-option);
      line-height: var(--be-select-h-option);
      padding: 0 15px;
      color: var(--be-select-color-text);
      text-align: left;
      @include be-pointer;

      &:hover {
        background-color: var(--be-select-bg-hover);
      }
    }

    .#{$componentsClass}--option__group {
      box-sizing: border-box;
      height: var(--be-select-h-option);
      line-height: var(--be-select-h-option);
      padding-left: 6px;
      color: var(--be-select-color-op-text);
      text-align: left;
    }

    .#{$componentsClass}--option__choice {
      font-weight: bold;
      color: var(--be-select-border-color-f);
      background-color: var(--be-select-bg-hover);

      .#{$componentsClass}--hook {
        float: right;

        .be-icon {
          fill: var(--be-select-color-icon);
          line-height: var(--be-select-h-icon);
          height: var(--be-select-h-icon);
        }
      }

      &:hover {
        background-color: var(--be-select-bg-hover);
      }
    }

    .#{$componentsClass}--option__line::before {
      position: absolute;
      width: 93%;
      height: 1px;
      content: ' ';
      background-color: var(--be-select-color-info);
    }

    .#{$componentsClass}--option__disabled {
      color: var(--be-select-color-info);
      @include be-disabled;

      &:hover {
        background-color: var(--be-select-bg-op-disabled);
      }
    }
  }

  .#{$componentsClass}--option__extend {
    @include flex-align-center-between;
    padding: 0 10px;
    margin-top: 5px;

    .be-input {
      flex: 8;
      width: 70%;
    }

    .be-icon#{$modifier-separator}container {
      flex: 2;

      .be-icon {
        margin: 0 auto;
        @include be-pointer;
      }
    }
  }
}

.#{$componentsClass}#{$modifier-separator}popover {
  .be-popover {
    .be-popover#{$modifier-separator}body {
      padding: 0;
    }
  }
}
