@use 'sass:map';
@import 'var';
input:focus-visible {
  outline-offset: 0;
}

:focus-visible {
  outline: 0;
}

/* 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 */

.scroll-diy::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin: 5px;
}

/* 定义滑块 */

.scroll-diy::-webkit-scrollbar-thumb {
  background-color: $infoBorder;
  border-radius: 5px;
}

.be-modal {
  background-color: $modal;
}
