$warning: #F7A31C;
$warningHover: #eebe77;
$success: #22C416FF;
$successHover: #95d475;
$error: #F14E53FF;
$errorHover: #f89898;
$link:#409eff;
$linkHover:#66b1ff;
$whiteText: #FFF;
$blackText: #000;
$white: #FFF;
$black: #000;
$full:9999px;
$primary: #d9ecff;
$info: #909399;
$infoHover: #dcdcdc;
$modal: rgba(0, 0, 0, .5);





$primary: #ecf5ff;
$primaryBase: #409eff;
$primaryHover: #409eff;
$default: #FFF;
$defaultGray: #f5f5f5;
$defaultHover: #ecf5ff;

$defaultText: #606266;
$primaryText: rgba(64, 158, 255, .94);
$primaryBorder: #b3d8ff;
$primaryHoverBorder: #ecf5ff;
$warningBorder: #fdf6ec;
$warningHoverBorder: #f5dab1;
$errorBorder: #fef0f0;
$errorHoverBorder: #fbc4c4;
$successBorder: #f0f9eb;
$successHoverBorder: #c2e7b0;
$infoBorder: #d3d4d6;
$infoHoverBorder: #FFF;
$pinkHoverBorder: #ec4899;
$pinkHoverBorder-02:rgba(236,72,153,.2)